:root{
    --width-container:20rem;
    --height-container:35rem;
    --bg-color:#ed3f49;
    --display-color:#333a4d;
    --button-color:#f13f4b;
}

body{
    background-color:var(--bg-color);
    height:1vh;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

header{
    color:#fff;
    display:flex;
    align-items: center;
}

header button{
    width:2em;
    height:2em;
    border-radius:50%;
    border: 1px solid white;
    margin-left: 1em;
    background-color:var(--display-color);
    cursor:pointer;
}

.container{
    min-width: var(--width-container);
    min-height: var(--height-container);
    background-color:#fff;
    border-radius: 3%;
}

.display-box{
    width:100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size:2.5em;
    font-weight:500;
    color:#fff;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color:var(--display-color);
}


.row-1{
    max-width: 7em;
    overflow-x: scroll;
    padding: 0 0.5em;
    display:flex;
    justify-content:flex-end;
}

#display{
    height:1em;
    margin:0;
}
.row-1::-webkit-scrollbar{
    display: none;
}

.row-1 i{
    font-size: 24px;
    margin: 0 0 0 12px;
    line-height: 1.5;
    cursor: pointer;
}

.row-2{
    padding: 0 0.5em;
    display:flex;
    justify-content:space-between;
}

#res{
    max-width: 6em;
    overflow-x: scroll;
}
#res::-webkit-scrollbar{
    display: none;
}

#aligin{
    font-weight: 700;
}

.keys{
    width:100%;
    height: 65%;
    display: grid;
    grid-template-columns:repeat(4,calc(var(--width-container)/4));
}

.cell{
    border: 0;
    margin: 0.5px;
    font-weight: 300;
    cursor: pointer;
}

.spec{
    grid-column: 1/3;
    border-bottom-left-radius: 10%;
}

.operator{
    background-color: #dcdfe6;
}

.end{
    border: 0.5px solid white;
    background-color: var(--button-color);
    border-top: 0;
    border-left: 0;
    border-bottom-right-radius: 10%;
    margin: 0.5px 0 0 0.5px; 
}

@media(max-width:425px){
    header{
        margin: 1.5em 0;
    }
}