* {
    background-color: rgb(62, 202, 57);
}
h1 {
    color: black;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.score {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Hscore{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
}