*{
    background: #ffffff;
    text-align: center;
    margin: 0;
}
h2{
    margin: 0px ;
    background: transparent;
    font-size: 40px;
    font-family: cursive;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.815);
}
#container{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.089);
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.653);
    padding: 10px;
    margin: 50px;
    margin-top: 20px;
    width:325px;
    height: 500px;
    
}
/*stopwatch display*/
#display{
    font-size: 65px;
    font-family: monospace;
    background: transparent;
    margin-top: 20px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 310px; /*when lpas is hidden*/
    /*instead arrange buttons with left ,bottom positions*/
}


/*Laps display*/
ul{
    height: 260px;
    list-style: none;
    background: transparent;
    margin-top: 20px;
    max-height: 290px;
    overflow-y: auto;
    padding-left: 0;
    text-align: start;
    /*display: block;*/
    display: none;
}
ul p{
    font-size: 18px;
    padding: 0 10px;
    text-align: start;
    background-color: transparent;
}
span{
    background-color: transparent;
    padding-right: 60%;
}
label{
    background-color: transparent;
    padding-right: 67%;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#958ac077);
    border-radius: 2px;
}
ul li{
    background: transparent;
    font-family: Helvetica;
    font-size: large;
    text-align: left;
    padding: 7px 10px;
}
/*end of laps display*/


/*button styling*/
#btn-group{
    margin-top: 30px;
    height: 40px;
    align-items: center;
    background: transparent;
    position: relative;
    bottom: 5px;
    top: 0px;
}
.btn{
    /*margin: 0 50px;*/
    color: #ffffff;
    padding: 10px 15px;
    border: 0px  black;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.653);
    border-radius: 20px;
    outline: none;
}
#start,#resume{
    
    font-size: medium;
    background: blueviolet;
}
#resume{
    /*margin: 0 30px;*/
    position: absolute;
    display: none;
    bottom: 2px;
    left: 20px;
}
#stop{

    background: rgb(219, 0, 0);
    display: none;
    position: absolute;
    bottom: 2px;
    left: 20px;
}
#reset,#lap{

    background: #000000;
    display: none;
    position: absolute;
    bottom: 2px;
    right: 30px;
}
/*#reset{
    position: absolute;
    bottom: 7px;
    right: 30px;
}
/*end of button styling*/

@media (max-width:720px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}